body {
    margin: 0;
    padding: 10px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid skyblue;
    margin-bottom: 4px;
}

.button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}